{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	<h1>HB Monster</h1>

	<div>
		<h2>Offres d'emploi</h2>
		{% for offer in offers %}
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">{{ offer.title }}</h5>
					<h6 class="card-subtitle mb-2 text-body-secondary">{{ offer.contractType.name }}</h6>
					<a href="{{ path('offer_item', { "id": offer.id }) }}" class="card-link">Voir l'offre</a>
				</div>
			</div>
		{% else %}
			<p>Aucune offre trouvée</p>
		{% endfor %}
	</div>
{% endblock %}
